<h1>Kirjaudu sisään</h1>

<form class="login">
    <input ng-model="$ctrl.username" type="text" name="username" placeholder="Käyttäjätunnus" />
    <input ng-model="$ctrl.password" type="password" name="password" placeholder="Salasana" />

    <button ng-click="$ctrl.login($ctrl.username, $ctrl.password)" class="btn btn-default">Kirjaudu sisään</button>
</form>

<h1>Rekisteröinti</h1>

<form class="new-user">
    <input ng-model="$ctrl.newUsername" type="text" name="new-username" placeholder="Käyttäjätunnus" />
    <input ng-model="$ctrl.newPassword" type="password" name="new-password" placeholder="Salasana" />
    <input ng-model="$ctrl.newEmail" type="text" name="new-email" placeholder="Sähköposti (valinnainen salasanan palautukseen)" />

    <button ng-click="$ctrl.addUser($ctrl.newUsername, $ctrl.newPassword, $ctrl.newEmail)" class="btn btn-default">Rekisteröidy</button>
</form>